<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flash.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <!-- The Modal -->
        <div id="flash_modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
          <span class="close">&times;</span>
          <p>{{ message }}</p>
          </div> 
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <script src="{{ url_for('static', filename='javascript/flash.js') }}"></script>
</body>