{% extends "base.html" %}

{% block title %}Login to CRUDApp{% endblock %}

{% block stylesheet %} {{url_for('static', filename='styles/login.css')}} {% endblock %}

{% block body %}
  <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" name="username" placeholder="Username or Email">
    </div>

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" name="password" placeholder="Password">
    </div>

    <input type="button" class="btn" value="Log in">
  </div>
{% endblock %}