{% extends "base.html" %}

{% block title %}Join CRUDApp{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/signup.css')}}">
{% endblock %}

{% block body %}
  <div class="signup-box">
    <h1>Sign up</h1>

    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" name="email" placeholder="Email">
    </div>

    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" name="username" placeholder="Username">
    </div>

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" name="password" placeholder="Password">
    </div>

    <input type="submit" class="btn" value="Sign up">
  </div>
{% endblock %}